<div class="sidebar-left">
<div class="state-icons">
  <a href="javascript:void(0)" class="gallery-list"><i class="icon-th-list"></i></a>
  <a href="javascript:void(0)" class="gallery-grid"><i class="icon-grid"></i></a>
</div>
  <aside class="sidebar-main">
    <h1><a href="/">{{ metadata.sitename|safe }}</a></h1>
      <p>{{ metadata.short_bio|safe }}</p>
      <p class="navigation-menu-button" id="js-mobile-menu"><i class="icon-menu"></i></p>

  </aside>
  <aside class="sidebar-description js-mobile-menu">
      <ul>
        {% include "navigation.html" %}
      </ul>
  </aside>
</div>


