<aside class="sidebar-right">
  <h1><a href="/">{{ metadata.sitename|safe }}</a></h1>
  {{ metadata.short_bio|safe }}
  <ul class="inline sidenav">
    {% include "navigation.html" %}
  </ul>

<ul class="inline icons">
  <li>
    <a href="http://twitter.com/andreweick">
      <i class="icon-twitter-squared"></i>
    </a>
  </li>
  <li>
    <a href="https://plus.google.com/109723980772979274704/about">
      <i class="icon-gplus-squared"></i>
    </a>
  </li>
  <li>
    <a href="http://github.com/andreweick">
      <i class="icon-github-squared"></i>
    </a>
  </li>
  <li>
    <a href="http://linkedin.com/in/andreweick">
      <i class="icon-linkedin-squared"></i>
    </a>
  </li>
{#
TODO: Add app.net to icons
  <li>
    <a href="http://alpha.app.net/eick">
      <i class="icon-twitter-squared"></i>
    </a>
  </li>
 #}
</ul>
</aside>
