{% include "partials/head.html" %}
{# body classes: if splash_image, category, theme, page class #}
<body class="{{ template |replace('.html', '') }}{% if theme %} {{ theme }}{% endif %}{% if splash_image %} splash{% endif %}">
		{% include "partials/navigation.html" %}
		<div class="{% if splash_image %}content_splash{% endif %}">
			<section class="content">
				{% block content %}{% endblock %}
			</section>
		</div>
	{% include "partials/nav-side-right.html" %}
	{% include "partials/scripts.html" %}
</body>
</html>
