---
layout: author.html
---
{% extends 'default.html' %}
{% block content %}
  <div class="has-layout">
    <aside>
      <h4>List of items here</h4>
      <ul>
        <li>
          <a href="">Item uno</a>
        </li>

      </ul>
    </aside>
    <article class="authors hentry {% if page_class %}{{ page_class }}{% endif %}">
      <header>
        {% if title %}
          <h1 class="entry-title">{{ title }}</h1>
        {% endif %}
      </header>
      <div class="entry-content lead prose">
        {{ contents | safe }}
        {% if include_on_page %}
          {% include include_on_page %}
        {% endif %}
      </div>
    </article>
  </div>
{% endblock %}
