<div class="sidebar-left">
<div class="state-icons">
  <i class="icon-th-list"></i>
  <i class="icon-grid"></i>
</div>
  <aside class="sidebar-main">
    <h1>
      <a href="{{site.url}}">sitename</a>
    </h1>
      <p>tagline</p>
      <p class="navigation-menu-button" id="js-mobile-menu"><i class="icon-menu"></i></p>

  </aside>
  <aside class="sidebar-description js-mobile-menu">
      <ul>
      <li class="nav-sidebar-item"><a href="/">home</a></li>
      <li class="nav-sidebar-item"><a href="/about/">about</a></li>
      <li class="nav-sidebar-item"><a href="/archive/">archive</a></li>
      <li class="nav-sidebar-item"><a href="/links/">links</a></li>
      <li class="nav-sidebar-item"><a href="/resources/">resources</a></li>
    </ul>

    <figure>

  </figure>
  </aside>
</div>
